.paddle {
  border: 1px solid black;
  background-color: black;
  position: absolute;
}

.board {
  border: 1px solid black;
  position: relative;
  margin: 0 auto;
}

.ball {
  border-radius: 50%;
  background-color: red;
  position: absolute;
}
